*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    position: relative;
}

aside img {
    width: 250px;
    height: auto;

    
}

aside h2 {
    position: absolute;
    color: black;
    left: 30px
}

p {
    padding: 0;
    margin: 1rem;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding: 0.5rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 2px solid rgba(0,0,0.1);
    padding: 1rem;
    background-color: #d4e7cb;
    color: black;
}



